dialog#promptUi {
  /* center the dialog */
  left: calc( 50vw - 200px );
  top: calc( 50vh - 150px );
  width: 400px;
  height: 300px;

  resize: both;
}

dialog#promptUi section form label,
dialog#promptUi section form input {
  display: block;
  margin-top: 0.5em;
}

dialog#promptUi section form label:first-of-type,
dialog#promptUi section form input:first-of-type {
  margin-top: 0;
}

